# build
cloudflare-ddns
cloudflare-ddns.exe

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/
.VSCodeCounter

# misc
.DS_Store
*.pem
Thumbs.db

# local env files
.env

# AI
AGENTS*.md
CLAUDE*.md
GEMINI*.md
QWEN*.md
.cursorrules
.windsurfrules
CODEX*.md
.claude/
.gemini/
.cursor/
.windsurf/
.clinerules/
.ai/
.vibecache/
